* {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section {
    background-color: tomato;
    font-size: 32px;
    padding: 20px;
    margin: 10px;
}