/* Tipografías */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@font-face {
    font-family: Notera;
    src: url('./fonts/Notera2ULight_PERSONAL.ttf');
}

/* Reset de estilos del navegador */
* {
    padding: 0;
    margin: 0;
}

/* Selección con etiquetas HTML - Peso de unidad */
body {
    background-color: #fabada;
}

/* Selección con clases - Peso decena */
.blog-articles {
    background-color: chartreuse;
}

.links, .starred {
    background-color: darkorange;
}

.starred {
    color: purple;
}

.texto-resaltado {
    color: yellow;
}

.eco-news {
    background-color: teal;
    /* padding: 30px; */
    border-color: lawngreen;
    border-width: 3px;
    border-style: solid;
}

.eco-news :hover {
    background-color: plum;
    color: blue;
    font-size: 32px;
    padding: 30px;
    border-color: lawngreen;
    border-width: 3px;
    border-style: solid;
}

.eco-text {
    color: blue;
}

.main-container {}

.news-container {
    width: 50vw;
    padding: 30px;
    background: #fff url('./images/horse_luis.jpeg') repeat-y left;
    transition: background-color 3000ms linear;
}

.news-container:hover {
    width: 50vw;
    padding: 30px;
    background-color: purple;
    transition: background-color 3000ms linear;
}

.news-content {
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    /* background-image: url(./images/horse_luis.jpeg); */
}

.news-content::after {
    content: 'Hola';
}

.icons {
    font-size: 64px;
}

.news-container > p:nth-child(even) {
    background-color: rgb(200, 35, 200);
    opacity: 0.5;
}

/* Selección con IDs - Peso centena */
#special-article {
    background-color: cornflowerblue;
}